<div>
    <p>{{baseOntology?.resources?.username}}</p>

 <!--   <h4>Add resource types to your project</h4>
        <span>
            {{addResource.name}}
            <button md-icon-button [md-menu-trigger-for]="resourceMenu">
                <md-icon>{{addResource.icon}}</md-icon>
            </button>
            <md-menu x-position="after" #resourceMenu="mdMenu">
                    <span *ngFor="let item of addResource.menuItems; let last=last" md-menu-item>
                        <span><hr *ngIf="last"/>
                            <a href="{{item.routerLink}}">
                                <md-icon>{{item.icon}}</md-icon><span>{{item.text}}</span>
                            </a>
                        </span>
                    </span>
            </md-menu>
        </span>

    <br><br><br><br><br><br><br><br><br><br><br>
-->
<!-- // this works with the json file Resource.json and base-ontology-json.ts
        <h4>Add resource types to your project</h4>
        <span>
                {{baseOntology?.resources?.active_project}}
                <button md-icon-button [md-menu-trigger-for]="resourceMenu2">
                    <md-icon>{{addResource.icon}}</md-icon>
                </button>
                <md-menu x-position="after" #resourceMenu2="mdMenu">
                        <span *ngFor="let item2 of baseOntology?.resources?.projects_info; let last=last" md-menu-item>
                            <span><hr *ngIf="last"/>

                                    <span>{{item2}}</span>

                            </span>
                        </span>
                </md-menu>
            </span>
 -->

    <h4>Add resource types to your project</h4>
    <span>
        <!-- If I want a specific part of an array from a json object I should get it already at the ontology component (here: res) -->
        <span>Add new {{res}}</span>

        <button md-icon-button [md-menu-trigger-for]="resourceMenu2">
            <md-icon>{{addResource.icon}}</md-icon>
        </button>
        <md-menu x-position="after" #resourceMenu2="mdMenu">
         <!-- For a complete array, I can get the json object here, using ? to make up for undefined objects -->
            <span *ngFor="let item2 of knoraBase?.classes?.representation; let last=last" md-menu-item>
                <span><hr *ngIf="last"/>

                    <span>{{item2}}</span>

                </span>
            </span>
        </md-menu>
    </span>



</div>




